#!/bin/bash
#
# %%NAME%%    This init script takes care of starting and stopping %%NAME%%.
#
# chkconfig: - 60 50
# description: %%NAME%%
# processname: %%NAME%%

# Source function library.
. /etc/rc.d/init.d/functions

# Source networking configuration.
. /etc/sysconfig/network

RETVAL=0
prog="%%NAME%%"
start_action="%%START%%"
stop_action="%%STOP%%"

start() {
        # Start daemon
        [ -x $path_to_prog ] || exit 4

        echo -n $"Starting $prog: "
        daemon $start_action
        RETVAL=$?
        [ $RETVAL -eq 0 ] && touch /var/lock/subsys/$prog
	echo
        return $RETVAL
}

stop() {
        # Stop daemons.
        echo -n $"Shutting down $prog: "
	$stop_action
        RETVAL=$?
        echo
        [ $RETVAL -eq 0 ] && rm -f /var/lock/subsys/$prog
        return $RETVAL
}

# See how we were called.
case "$1" in
  start)
        start
        ;;
  stop)
        stop
        ;;
  restart)
        stop
        start
        RETVAL=$?
        ;;
  condrestart)
        if [ -f /var/lock/subsys/$prog ]; then
            stop
            start
            RETVAL=$?
        fi
        ;;
  status)
        status $prog
        RETVAL=$?
        ;;
  *)
        echo $"Usage: $0 {start|stop|restart|condrestart|status}"
        exit 2
esac

exit $RETVAL
